* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  border: 2px solid red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
}

.header {
  background-color: #5e008a;
}

.header .left {
  float: left;
}

.header .left ul .menu {
  background-color: yellow;
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding: 12px;
  top: 0px;
}

.header .left ul .menu a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin: 5px;
}

.header .left ul .menu ol {
  display: none;
}

.header .left ul .menu ol .submenu {
  background-color: #f5f4ff;
  padding: 5px 10px 5px 10px;
  list-style-type: none;
  width: 150px;
}

.header .left ul .menu ol .submenu a {
  color: #ce1b1b;
}

.header .left ul .menu ol .submenu:hover {
  background-color: black;
}

.header .left ul .menu:hover ol {
  display: block;
  position: absolute;
  top: 40px;
  left: -35%;
  z-index: 2;
}

.header .right {
  background-color: #5e008a;
  float: right;
  line-height: 85px;
}

.header .right input {
  border-radius: 10px;
  height: 40px;
}

.header .right input:hover {
  background-color: red;
  border: 0px;
}

.header::before, .header::after {
  content: '';
  clear: both;
  display: block;
}

.main {
  background-color: #2d7086;
  height: 30em;
  margin: 5px;
  padding: 10px;
}

.main .content {
  width: 70%;
  float: left;
  height: 100%;
  background-color: #4fd3ff;
}

.main aside {
  width: 30%;
  float: right;
  height: 100%;
  background-color: #79878b;
}

.main aside ul {
  list-style-type: none;
  padding: 0px;
}

.main aside ul li {
  display: inline-block;
  margin: 0px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.main aside ul li a {
  text-decoration: none;
  text-transform: uppercase;
  border: 0px;
  color: #c4ff14;
}

.main aside ul li:hover {
  background-color: lightblue;
}

.main::before .main::after {
  content: '';
  clear: both;
  display: block;
}

.services {
  background-color: #b100ff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 3px;
  height: 100px;
  padding: 1px 10px 10px 0px;
}

@media screen and (min-width: 0px) and (max-width: 505px) {
  .services {
    height: 430px;
  }
}

@media screen and (min-width: 506px) and (max-width: 800px) {
  .services {
    height: 410px;
  }
}

@media screen and (min-width: 801px) {
  .services {
    height: 410px;
  }
}

.services .box {
  background-color: #00ffaa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 3px;
  height: 100px;
}

@media screen and (min-width: 0px) and (max-width: 505px) {
  .services .box {
    background-color: red;
    width: 100%;
  }
}

@media screen and (min-width: 506px) and (max-width: 800px) {
  .services .box {
    background-color: #4e4545;
    color: white;
    width: 48%;
    float: left;
  }
}

@media screen and (min-width: 801px) {
  .services .box {
    background-color: #ff0bc2;
    width: 24%;
    float: left;
  }
}

.services::before, .services::after {
  content: '';
  clear: both;
  display: block;
}

.footer {
  background-color: #5e008a;
  height: 300px;
}
/*# sourceMappingURL=main.css.map */